<%= form_tag  '/parrots', method: :post do %>

<h2>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Species: <input type="text" name="species">
  </div>
  <div>
    Age: <input type="text" name="Age">
  </div>
  <div>
    Image Url: <input type="text" name="image">
  </div>

  <input type="submit" value"Add Dog>
</h2>

<% end %>